#logo
	float: left

#title
	padding-left: 1em

hr
	border: 0
	height: 1px
	background: #333
	background-image: linear-gradient(to right, #333, #333, #ccc)

#description
	clear: left
	h1
		font-size: 1.5em
	h2
		font-size: 1em
