$text-colour: #737373
$background: #d6d6d6
$navbar: #434343

html, button, input, select, textarea, .pure-g [class *= "pure-u"]
	font-family: sans-serif


#navigation
	background-color: $navbar
	color: $text-colour
	font-style: bold

	pure-menu
		padding-left: 2em

#centre
	padding: 10px
	background-color: $background

#advanced_search
	display: flex
	width: 100%

#filter
	display: flex
	width: 100%
	input
		flex-grow: 1

#video_list
	margin-top: 1em

.thumbnail
	font-size: 0.9em
	div
		margin: 4px
	p
		margin-top: 1px
		margin-bottom: 1px
	.channel_title
		color: grey
	time
		color: grey
	a
		text-decoration: none
