{% extends "layout.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="/static/css/channel.css">
{% endblock %}


{% block centre %}

%img#logo(src="{{channel['thumbnail']}}")
%h1#title {{channel["title"]}}

%hr

#description
	{{channel["description"] | markdown}}

{% endblock %}
