.pure-g#video_list
	{% for video in videos %}
	.pure-u-1-5.thumbnail
		.padding
			<a href={{"/watch/" + video["id"]}}>
			<img class="pure-img" src={{ "https://i.ytimg.com/vi/" + video["id"] + "/mqdefault.jpg"}}>
			<p class="video_title"> {{video["title"]}} </p>
			<p class="channel_title"> {{video["channel"]}} </p>
			<time class="timeago" datetime="{{video["date"].isoformat()}}"> {{video["date"] | readable_date}} </time>
			</a>
	{% endfor %}
