{% extends "layout.html" %}

{% block head %}
{{super()}}
%script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.5.3/jquery.timeago.min.js")
{% endblock %}

{% block centre %}

.pure-form
	#filter
		%input(placeholder="Filter...")
		%button
			<i class="fa fa-angle-down"></i>

	#advanced_search
		%label
			After
			%input#after(type="date")

		%label
			Before
			%input#before(type="date")

			%select#channel
				%option(value="") All Channels
				%option(value="Retroswamp") Retroswamp
				%option(value="Burridge Games") Burridge Games

		:javascript
			Interface.hide_advanced_search();

{% include "image_grid.html" %}

<script>
Interface.format_dates();
</script>

{% endblock %}
