!!!5

%head
	{% block head %}
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	%link(rel="stylesheet" href="/static/css/style.css")

	%script(src="https://code.jquery.com/jquery-3.1.0.min.js")
	%script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js")

	%script(src="/static/js/data.js")
	%script(src="/static/js/interface.js")
	%script(src="/static/js/init.js")
	{% endblock %}

%body
	{% include "navigation.html" %}
	.pure-g
		.pure-u-1-8
		.pure-u-3-4#centre
			{% block centre %}
			{% endblock %}
		.pure-u-1-8
