#navigation
	.pure-menu.pure-menu-horizontal
		%a(href="/" class="pure-menu-heading pure-menu-link")
			Retroswamp and Scrubs

	.pure-menu.pure-menu-horizontal
		%ul.pure-menu-list
			%li.pure-menu-item
				%a.pure-menu-link(href="/channel/Retroswamp") Retroswamp
			%li.pure-menu-item
				%a.pure-menu-link(href="/channel/Burridge Games") BurridgeGames
