{% extends "layout.html" %}

{% block centre %}

%h1 {{video["title"]}}

%noscript
	%h1 video embedding requires JavaScript

<div id="video_player" video_id={{video['id']}}>
</div>

%script(src="/static/js/player.js")

<p>{{video["description"]}}</p>

{% endblock %}
